/back-end/bin
/back-end/obj
/back-end/Web/bin
/back-end/Web/obj
/back-end/Chat/Chat.Web/bin
/back-end/Chat/Chat.Web/obj
/back-end/Chat/Chat.Services/bin
/back-end/Chat/Chat.Services/obj
/back-end/Chat/Chat.Domain/bin
/back-end/Chat/Chat.Domain/obj
/back-end/Authorization/Authorization.Service/bin
/back-end/Authorization/Authorization.Service/obj

/front-end/node_modules
/front-end/.pnp
/front-end/.pnp.js
/front-end/coverage
/front-end/build
/front-end/.DS_Store
/front-end/.env.local
/front-end/.env.development.local
/front-end/.env.test.local
/front-end/.env.production.local
/front-end/npm-debug.log*
/front-end/yarn-debug.log*
/front-end/yarn-error.log*